on late-init
    chown system system /dev/cpuset/top-app/cpus
    chown system system /dev/cpuset/foreground/boost/cpus
    chown system system /dev/cpuset/foreground/cpus
    chown system system /dev/cpuset/background/cpus
    chown system system /dev/cpuset/system-background/cpus
    chown system system /dev/cpuset/restricted/cpus
    chown system system /dev/cpuset/cpus

    chmod 664 /dev/cpuset/top-app/cpus
    chmod 664 /dev/cpuset/foreground/boost/cpus
    chmod 664 /dev/cpuset/foreground/cpus
    chmod 664 /dev/cpuset/background/cpus
    chmod 664 /dev/cpuset/system-background/cpus
    chmod 664 /dev/cpuset/restricted/cpus
    chmod 664 /dev/cpuset/cpus

# Cortex A73+A53 8xCore 
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-3,6-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/restricted/cpus 0-2

